[Unit]
Description=Whut.tv

[Service]
ExecStart=/usr/bin/python2 -m SimpleHTTPServer 8081 &
WorkingDirectory=/home/owg1/Projects/reddit-tv/
Restart=always
RestartSec=10 
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=whut
User=owg1

[Install]
WantedBy=multi-user.target
